#main {
  height: 600px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  padding: 0;
  line-height: 150%;
  background-color: #ccc;
}

.column {
  position: absolute;
	top: 0;
	height: 500px;
	margin: 0;
	padding: 0;
}

#tools {
	left: 0;
}

#chart-area {
	right: 0;
	width: 800px;
}

#chart {
   height: 600px;
   margin: auto;
   overflow: hidden;
   position: relative;
   width: 800px;
}

.panel {
	border: 1px solid grey;
  border-radius: 15px;
  background-color: #7EBB4B;
	margin: 10px;
	padding: 10px;
	text-align: left;
	z-index: 10;
}

h3, h4, label {
	color: #ffffff;
}

h3, h4 {
	margin-bottom: 5px;
}

#finder-wrapper, #manager-wrapper {
	margin: 5px 0;
}

.profile-pic {
	float: left;
}

input[type="button"] {
	padding: 5px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
